# Database
DATABASE_URL=postgresql://user:password@localhost:5432/road_damage_db

# Security
SECRET_KEY=uxkigeywrqirdcwv
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# File Storage
UPLOAD_DIR=uploads

# AI Model
YOLO_MODEL_PATH=ai_model/road_damage_yolov8.pt

# Notifications
SENDGRID_API_KEY=your-sendgrid-api-key
FROM_EMAIL=noreply@yourdomain.com
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json
